@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root{
    /* Primary */
    --Dark-Blue: hsl(217, 28%, 15%); /* (intro and email sign up background) */
    --Dark-Blue: hsl(218, 28%, 13%); /* (main background)*/
    --Dark-Blue-ftr: hsl(216, 53%, 9%); /* (footer background)*/
    --Dark-Blue-test: hsl(219, 30%, 18%); /* (testimonials background)*/
    /* Accent */
    --Cyan: hsl(176, 68%, 64%); /*(inside call-to-action gradient)*/
    --Blue: hsl(198, 60%, 50%); /*(inside call-to-action gradient)*/
    --Light-Red: hsl(0, 100%, 63%); /*(error)*/
    /* Neutral */
    --White: hsl(0, 0%, 100%); 
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: hsl(217, 27%, 13%);
    background-size: 100%;
}

.header{
    background-color: hsl(217, 27%, 15%);
}


nav{
    font-family: "Raleway", sans-serif;
}
  
h1 {
    font-family: "Raleway", sans-serif;
    color: var(--White);
}
  
h2 {
    font-family: "Raleway", sans-serif;
    color: var(--White);
}

p{
    font-family: "Raleway", sans-serif;
    color: hsl(0, 0%, 90%);
}
  
small{
    font-family: "Raleway", sans-serif;
    color: hsl(0, 0%, 90%);
}

a {
    text-decoration: none;
    color: #fff;
}


img {
    max-width: 100%;
    height: auto;
}

/* header */

.logo{
    height: 3.125rem;
}

.nav-link{
    color: var(--White);
}

/* hero */

.hero{
    background: 70% 100% url("images/bg-curvy-desktop.svg") no-repeat;
    background-position: bottom center;
    background-size: 100%;
    background-color: hsl(217, 27%, 15%);
}

.hero .container{
    flex-direction: column;
}

/* Weights: 400, 700 */

.hero_content{
    width: 100%;
    max-width: 46.875rem;
}

.hero_content h1{
    color: var(--White);
    font-weight: 700;
}

.hero_content p{
    max-width: 37.5rem;
    /* color: var(--White); */
    font-weight: 400;
    font-size: 1.2rem;
    margin: auto;
    letter-spacing: 0.03rem;
    word-spacing: .05rem;
    /* padding-bottom: 15px; */
}

.btn {
    background: linear-gradient(90deg, var(--Cyan), var(--Blue));
    width: 17.375rem;
    height: 3.375rem;
    font-weight: 700;
    text-align: center;
    color: var(--White);
    max-width: 22.1428571429em;
    border-radius: 2.1428571429em;
  }

/* hero end */

/* service */

.service{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 7rem 0;
}

.card-section{
    position: relative;
    width: 100%;
    max-width: 24.5625rem;
    height: 14.4375rem;
    /* box-shadow: 0 5px 12px 10px hsl(176, 68%, 64%); */
    margin: auto;
    /* padding: .5rem; */
}

.card-section h2{
    font-size: 1.2rem;
    font-weight: 400;
}

.card-section p{
    font-size: .7rem;
    letter-spacing: .05rem;
    word-spacing: 0.05rem;
    padding: 0 1.5rem;
    font-weight: 400;
}

.card-section img{
    margin-bottom: 1rem;
}

.parttwo{
    margin-top: 1.4rem;
}

/* service end */

/* works */

.works{
    background-color: hsl(217, 27%, 13%);
    position: relative;
    margin: 5rem 0;
}

.works-content{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    text-align: left;
    flex-direction: column; 
}

.works-content h1{
    font-weight: 700;
}

.works-link{
    color: hsl(176, 68%, 64%);
    /* text-decoration: underline; */
    position: relative;
    top: 1.8125rem;
}

hr{
    width: 10.5rem;
    position: relative;
    margin-top: -0.02rem;
    border: 0.02rem solid hsl(176, 68%, 64%);
}

.works-link::after {
    content: url(../images/icon-arrow.svg);
    padding-left: 9.6rem;
    position: absolute;
    top: 0.0714285714em;
} 

hr:hover{
    border: 0.02rem solid hsl(0, 0%, 100%);
}

.works-link:hover{
    color: #fff;
    text-decoration: none;
}

/* testimonials */

.testimonials{
    background-color: hsl(217, 27%, 13%);
    margin: 8rem 0rem 22.5rem 0;
    padding: 0 6rem;
}

.quote{
    margin-bottom: 0.2rem;
    margin-left: -0.8rem;
}

.box{
    width: 100%;
    max-width: 22.3125rem;
    height: 11rem;
    position: relative;
    background: var(--Dark-Blue-test);
    border-radius: 0.3125rem;
    padding: 40px 26px 10px 26px;
    margin: -1rem 1rem 2rem 1rem;
    /* margin: 1rem 1.2rem; */
}

.testimonials p{
    font-size: .8rem;
}

.card-profile{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
}

.card-proile-desc{
    text-align: left;
    padding-left: 1.8rem;
    margin-top: -2.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 0.5rem;
}

.card-proile-desc small{
    margin-top: -1rem;
}

.card-profile img{
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

/* testimonials end */

/* newslatter */
  
.newslatter{
    width: 100%;
    height: auto;
}

.newslatter-box{
    position: absolute;
    width: 100%;
    max-width: 53.8125rem;
    height: 17.1875rem;
    background: hsl(217, 28%, 15%);
    box-shadow: 0.5rem 0.5rem 0.3125rem rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    margin-top: -8.5rem;
    left: 50%;
    transform: translate(-50%);
}

.newslatter-content{
    padding: 2.5rem;
}

.newslatter-content h1{
    font-weight: 700;
}

.newslatter-content p{
    width: 80%;
    margin: auto;
    font-weight: 400;
    font-size: .7rem;
    line-height: 1.2rem;
    letter-spacing: .06rem;
    word-spacing: 0.10rem;
}

.form-body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.form-body .form-input{
    width: 31rem;
    height: 3.0625rem;
    margin-left: -5rem;
    padding: 0 0 0 2.6rem;
    border-radius: 2.14285625rem;
}


.form-body  .btn{
    width: 12.9375rem;
    height: 3.125rem;
    font-size: 0.9rem;
    border-radius: 2.14285625rem;
}

/* newslatter end */
/* footer */
.footer{
    width: 100%;
    height: 34%;
    max-height: 100%;
    background: var(--Dark-Blue-ftr);
}

.footer a:hover{
    text-decoration: none;
    color: var(--White);
}

.footer .footer-content{
    padding: 15rem 1rem 1rem 5rem;
}

.location-part{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    left: -4rem;
}

.location-part p{
    padding-left: 2rem;
}

.info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}


.info p{
    position: absolute;
    color: var(--White);
    font-weight: 500;
    padding-left: 2rem;
    padding-bottom: 1.4rem;
}

.info a{
    position: absolute;
    padding-top: 2.8rem;
    padding-left: 2rem;
} 

.footer .aboutsectn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .Contact{
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a{
    padding: .4rem;
    margin: 0 .3rem;
    border: .02rem solid #fff;
    border-radius: 50%;
}

.social-media a .fa{
    padding: .4rem;
}


.social-media a .fa-facebook{
    padding: .4rem .5rem .4rem .5rem;
}

.copyright .challenger{
    color: hsl(184, 98%, 52%);
}

.copyright .completedby{
    font-weight: bold;
    letter-spacing: .02rem;
    background: -webkit-linear-gradient(hsl(184, 98%, 52%),hsl(120, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* footer end */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(max-width: 375px){
    .newslatter-box{
        max-width: 300px;
    }
    .newslatter-content h1{
        font-size: 1.2rem;
    }
    .newslatter-content p{
        font-size: .6rem;
        width: 100%;
        line-height: 1rem;
    }
    .form-body{
        margin-top: -3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form-body .form-input{
        width: 15rem;
        margin: .8rem 1rem;
        align-items: center;
    }
    .form-body  .btn{
        height: 2.5rem;
        margin-top: -0.2rem;
    }
    .footer .col{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        text-align: left;
    }
    
    .box{
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 0.3125rem;
        margin: 1rem .5rem;
        padding: 0 -3rem;
    }
    .info{
        padding: 1rem 0 1rem 0;
        left: -3rem;
    }
    .aboutsectn{
        padding: 1rem 0 1rem 0;
        right: 10rem;
    }
    .Contact{
        padding: 1rem 0 1rem 0;
        right: 10rem;
    }
}
